.title {
    text-align: center;
}

.description {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: auto !important;
    width: auto;
    padding: 0;
    overflow: hidden;
    background-color: #003976;
    width: 410px;
    align-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}